.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #2d2d2d;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  padding-top: 1.5em;
  width: 100%;
  flex-direction: column;
}

.app-title {
  height: 7em;
  flex: 1;
}

.app-intro {
  font-size: large;
}

.fixed-container {
  flex: 8;
  margin-top: 2em;
}

#bg-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  background: url("./assets/mall-bg.png");
  background-position: center;
  background-size: cover;
  margin: 0 2.5em;
  transition: background-size 5s;
}

#bg-div.remove {
  background-size: 0%;
}

.main-section, .main-section > div {
  height: 100%;
}

.main-section {
  flex: 1;
}

.main-section.hide {
  animation: hide-main-section 1s ease-in-out;
  animation-fill-mode: both;
}

.main-section.zoom {
  opacity: 1;
  position: absolute;
  animation: zoom-main-section 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: both;
}

.main-section > div {
  border-style: solid;
  border-width: 0 5px;
  border-color: #2d2d2d;
  height: 100%;
  transition: background-color 1s;
}

#main-section-1 > div {
  background-color: rgba(182, 31, 201, 0.5);
}

#main-section-2 > div {
  background-color: rgba(0, 132, 255, 0.5);
}

#main-section-3 > div {
  background-color: rgba(31, 201, 166, 0.5);
}

#main-section-4 > div {
  background-color: rgba(243, 153, 36, 0.5);
}

#hover-wrapper-1:hover, #hover-wrapper-2:hover, #hover-wrapper-3:hover, #hover-wrapper-4:hover {
  cursor: pointer;
}

.section-detail {
  position: relative;
  height: 0%;
  width: 100%;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  z-index: -1;
  transition: height 0.4s, top 0.4s, opacity 0.5s;
}


.section-detail.up {
  height: 100%;
  top: 0%;
  opacity: 1;
  z-index: 0;
}

.section-detail.down {
  height: 0%;
  top: 100%;
  opacity: 0;
  z-index: -1;
}

.section-detail.down .tile-desc {
  z-index: -1;
}

.education-img {
  height: 5em;
  width: 5em;
  border-radius: 2.5em;
}

#purdue-logo-img {
  background-color: #cfb53b;
  padding: 0.1em;
}

.dark {
  background-color: #f9f9f9;
}

#quote-slider {
  color: #e9e9e9;
  margin: 2.5em;
}

#quote-slider.remove {
  animation-name: show-content;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-fill-mode: both;
  animation-direction: reverse;
}

#current-quote {
  transition: opacity 0.5s;
}

#current-quote.fade-out {
  opacity: 0;
}

#current-quote.fade-in {
  opacity: 1;
}

.quotation::before {
  content: '"'
}

.quotation::after {
  content: '"'
}

.quotation {
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

.main-section > div {
  position: relative;
}

.tile-letter {
  color: rgba(255, 255, 255, 0.8);
  font-family: Georgia, serif;
  font-size: 3em;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 20px;
  transition: bottom 0.8s, color 0.5s;
}

.tile-title {
  color: rgb(45, 45, 45);
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

#tile-letter-b.tile-letter.up, #section-title-letter-b {
  color: rgb(137, 0, 155);
}

#tile-letter-o.tile-letter.up, #section-title-letter-o {
  color: rgb(0, 67, 182);
}

#tile-letter-l.tile-letter.up, #section-title-letter-l {
  color: rgb(0, 110, 85);
}

#tile-letter-d.tile-letter.up, #section-title-letter-d {
  color: rgb(179, 98, 0);
}

#tile-letter-b.tile-letter.up > .tile-title, #tile-letter-o.tile-letter.up > .tile-title,
#tile-letter-l.tile-letter.up > .tile-title, #tile-letter-d.tile-letter.up > .tile-title {
  opacity: 1;
}

.tile-letter.up {
  bottom: 60%;
}

.tile-letter.down {
  color: rgba(255, 255, 255, 0.8);
  bottom: 0;
}

.section-title-letter {
  font-family: Georgia, serif;
  font-size: 3em;
}

.section-title {
  color: rgb(45, 45, 45);
}

.tile-desc {
  position: absolute;
  top: 40%;
  padding: 0 22px;
  color: #2d2d2d;
  text-align: left;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  text-shadow: 0px 1px 1px #8b8b8b;
  opacity: 0;
}

.tile-desc.appear {
  animation: show-content 0.7s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.quote-slider-pages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.quote-slider-page {
  height: 8px;
  width: 8px;
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  background-color: #2d2d2d;
  transition: background-color 0.5s;
}

.quote-slider-page:hover {
  cursor: pointer;
}

.quote-slider-page.fade-out {
  background-color: #2d2d2d;
}

.quote-slider-page.fade-in {
  background-color: rgba(255, 255, 255, 0.8);
}

.quote-slider-page.active {
  background-color: rgba(255, 255, 255, 0.8);
}

#section-content {
  position: absolute;
  background-color: #e9e9e9;
  border-radius: 10px;
  z-index: 1000;
}

#section-content > *, #section-content > * > * {
  opacity: 0;
}

#section-content.show {
  animation: zoom-main-section 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: both;
  animation-delay: -0.5s;
}

#section-content.hide {
  animation: hide-main-section 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: both;
}

#section-content.show > *, #section-content.show .main-title {
  animation: show-content 0.5s ease-in;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

#section-content.show .close-button {
  animation: show-content 0.2s ease-in;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.close-button-container {
  position: fixed;
  right: 1em;
  margin: 1em;
  height: 2.5em;
  width: 2.5em;
  z-index: 10000;
}

.close-button-container:hover {
  cursor: pointer;
}

.close-button {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .education-logo > img {
    position: absolute;
    right: 0;
  }
  .education-details {
    text-align: left;
  }
}

@keyframes show-content {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes zoom-main-section {
  0%    { left: auto; right: auto; top: auto; bottom: auto; opacity: 0; }
  50%   { left: 50%; right: 50%; top: 50%; bottom: 50%; opacity: 0.5; }
  80%   { left: 0; right: 0; top: 0; bottom: 0; opacity: 1; }
  90%   { left: 1.5em; right: 1.5em; top: 1.5em; bottom: 1.5em; opacity: 1; }
  100%  { left: 1em; right: 1em; top: 1em; bottom: 1em; opacity: 1; }
}

@keyframes hide-main-section {
  0%    { opacity: 1; height: auto }
  50%   { opacity: 0.5; height: 50vh; }
  100%  {opacity: 0; height: 0px; }
}