.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.section {
  padding-top: 5em;
}

.education-img {
  height: 5em;
  width: 5em;
  border-radius: 2.5em;
}

#purdue-logo-img {
  background-color: #cfb53b;
  padding: 0.1em;
}

.dark {
  background-color: #f9f9f9;
}

@media only screen and (min-width: 768px) {
  .education-logo > img {
    position: absolute;
    right: 0;
  }
  .education-details {
    text-align: left;
  }
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
